<!--
=========================================================
* Material Dashboard Dark Edition - v2.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard-dark
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'admin1/img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'admin1/img/favicon.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
     myGlam
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{% static 'admin1/css/material-dashboard.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static 'admin1/demo/demo.css' %}" rel="stylesheet" />
  <link href="{% static 'css/custom.css' %}" rel="stylesheet" />

</head>


<body class="dark-edition">

<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="{% static 'admin1/img/sidebar-2.jpg' %}">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a class="simple-text logo-normal">
          my Glam
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="{% url 'dashboard' %}">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
       
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'product' %}">
              <i class="material-icons">content_paste</i>
              <p>Product Management</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'category' %}">
              <i class="material-icons">category</i>
              <p>Category Management</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'orderManage' %}">
              <i class="material-icons">shopping_cart</i>
              <p>Order Management</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'user_manage' %}">
              <i class="material-icons">manage_accounts</i>
              <p>User Management</p>
            </a>
          </li>
           <li class="nav-item ">
            <a class="nav-link" href="{% url 'variation' %}">
              <i class="material-icons">inventory_1</i>
              <p>Product Variation</p>
            </a>
          </li>
         <li class="nav-item ">
            <a class="nav-link" href="{% url 'coupon_manage' %}">
              <i class="material-icons">local_offer</i>
              <p>Coupon management</p>
            </a>
          </li>
     
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'sales_report' %}">
              <i class="material-icons">receipt</i>
              <p>Report</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'adminlogout' %}">
              <i class="material-icons">logout</i>
              <p>Logout</p>
            </a>
          </li>
      
          <!-- <li class="nav-item active-pro ">
                <a class="nav-link" href="./upgrade.html">
                    <i class="material-icons">unarchive</i>
                    <p>Upgrade to PRO</p>
                </a>
            </li> -->
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <h3>Dashboard</h3>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
       
        </div>
      </nav>
      <!-- End Navbar -->
   




<div class="content">


{% comment %} 
<!--pie chart.js start -->
<div id="container" style="width:50%; margin-left: 20%; margin-botton:10%">
   <canvas id="pie-chart"></canvas>
</div>
<!--pie chart.js end --> {% endcomment %}

<!--chart.js start -->
<div class="card">
<div class="card-body">
<div class="row">
  <div class="col-md-9">
    <canvas id="myChart"></canvas>
  </div>
</div>
</div>
</div>
<!--chart.js end -->

        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-4 col-lg-12">
              <div class="card card-chart">
                <!-- <div class="card-header card-header-success">
                  <div class="ct-chart" id="dailySalesChart"></div>
                </div> -->
                <div class="card-body">
                  <h4 class="card-title d-flex justify-content-center">Total Users</h4>
                  <i class="material-icons d-flex justify-content-center fa-4x text-success">people</i>
                  <h1 class="card-category d-flex justify-content-center text-white ">{{ user_count }}</h1>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> last login on {{ u_date }} {{ u_day }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-12">
              <div class="card card-chart">
               <!--<div class="card-header card-header-warning">
                  <div class="ct-chart" id="websiteViewsChart"></div>
                </div>--> 
                <div class="card-body">
                  <h4 class="card-title d-flex justify-content-center">Total Products</h4>
                  <i class="material-icons d-flex justify-content-center fa-4x text-primary">receipt</i>
                  <h1 class="card-category d-flex justify-content-center  text-white ">{{ product_count }}</h1>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> updated on {{ p_date }} {{ p_day }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-12">
              <div class="card card-chart">
               <!---<div class="card-header card-header-danger">
                  <div class="ct-chart" id="completedTasksChart"></div>
                </div>-->
                <div class="card-body">
                  <h4 class="card-title d-flex justify-content-center">Total Categories</h4>
                  <i class="material-icons d-flex justify-content-center fa-4x text-info">category</i>
                  <h1 class="card-category d-flex justify-content-center  text-white ">{{ cat_count }}</h1>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i>  updated on {{ c_date }} {{ c_day }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="row">
           
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">inventory_1</i>
                  </div>
                   <a href="{% url 'product' %}"><p class="card-category">Product Management</p></a>
                  <h3 class="card-title"></h3>
                </div>
            
              </div>
            </div>
     
          
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">category</i>
                  </div>
                  <a href="{% url 'category' %}"><p class="card-category">Category Managemnet</p></a>
                  <h3 class="card-title"></h3>
                </div>
               
              </div>
            </div>
        
    
           <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-primary card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">receipt</i>
                  </div>
                   <a href="{% url 'sales_report' %}"><p class="card-category">Sales Report</p></a>
                  <h3 class="card-title"></h3>
                </div>
              </div>
              </div>
          
        
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">local_offer</i>
                  </div>
                  <a href="{% url 'coupon_manage' %}"><p class="card-category">Coupon Management</p></a> 
                  <h3 class="card-title"></h3>
                </div>
              </div>
            </div>
            
          </div>
          <div class="row">
          <div class="card">

          <div class="card-body">
          <table class="table">
                 
            <thead class=" text-primary">

              <th>
                Product name
              </th>
              <th>
              
              </th>
             
            </thead>
            <tbody>
          
              {% for product in products %}
              <tr>
              
                <td>
                  {% if product.product_image1 %}<img src="{{product.product_image1.url}}" style="height: 70px;width:70px;">{% endif %}
                  </td>
                <td>
                <!--star rating start-->
                <div class="d-flex justify-content-center">
                  <div class="rating-star">
                  <i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                  <i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                  <i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                  <i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                  <i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                  </div>
                </div>
                <!--star rating end-->
                </td>
               
                  {% endfor %}
                
              </tr>
            
            </tbody>
            
            
          </table>
           </div>
           </div>
          </div>

      <div class="row">
          <div class="card">

          <div class="card-body">
          <table class="table">
                 
            <thead class=" text-primary">

              <th>
                Category Image
              </th>
              <th>
              Category Name
              </th>
             
            </thead>
            <tbody>
          
              {% for category in categories %}
              <tr>
              
                <td>
                  {% if category.cat_image %}<img src="{{category.cat_image.url}}" style="height: 70px;width:70px;">{% endif %}
                  </td>
                <td>
                  {{category.category_name}}
                </td>
               
                  {% endfor %}
                
              </tr>
            
            </tbody>
            
            
          </table>
           </div>
           </div>
          </div>
                
     
                   
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left ">
            <ul>
              <li>
                <a>
                  my Glam
                </a>
              </li>
              
            </ul>
          </nav>
          <div class="copyright float-right" id="date">
            , made with <i class="material-icons">favorite</i> by
            <a>my Glam</a> for a better web.
          </div>
        </div>
      </footer>
      <script>
        const x = new Date().getFullYear();
        let date = document.getElementById('date');
        date.innerHTML = '&copy; ' + x + date.innerHTML;
      </script>
    </div>
  </div>
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
    
      <ul class="dropdown-menu">
        <li class="header-title"> Sidebar Filters</li>
       
        <li class="header-title">Images</li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="{% static 'admin1/img/sidebar-1.jpg' %}" alt="">
          </a>
        </li>
        <li class="active">
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="{% static 'admin1 /img/sidebar-2.jpg' %}" alt="">
          </a>
        </li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="{% static 'admin1/img/sidebar-3.jpg' %}" alt="">
          </a>
        </li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="{% static 'admin1/img/sidebar-4.jpg' %}" alt="">
          </a>
        </li>
        <li class="button-container">
          <a href="https://www.creative-tim.com/product/material-dashboard-dark" target="_blank" class="btn btn-primary btn-block">Free Download</a>
        </li>
        <!-- <li class="header-title">Want more components?</li>
            <li class="button-container">
                <a href="https://www.creative-tim.com/product/material-dashboard-pro" target="_blank" class="btn btn-warning btn-block">
                  Get the pro version
                </a>
            </li> -->
        <li class="button-container">
          <a href="https://demos.creative-tim.com/material-dashboard-dark/docs/2.0/getting-started/introduction.html" target="_blank" class="btn btn-default btn-block">
            View Documentation
          </a>
        </li>
        <li class="button-container github-star">
          <a class="github-button" href="https://github.com/creativetimofficial/material-dashboard/tree/dark-edition" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
        </li>
        <li class="header-title">Thank you for 95 shares!</li>
        <li class="button-container text-center">
          <button id="twitter" class="btn btn-round btn-twitter"><i class="fa fa-twitter"></i> &middot; 45</button>
          <button id="facebook" class="btn btn-round btn-facebook"><i class="fa fa-facebook-f"></i> &middot; 50</button>
          <br>
          <br>
        </li>
      </ul>
    </div>
  </div>
  

  <!--   Core JS Files   -->
  <script src="{% static 'admin1/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'admin1/js/core/popper.min.js' %}"></script>
  <script src="{% static 'admin1/js/core/bootstrap-material-design.min.js' %}"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="{% static 'admin1/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js' %}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="{% static 'admin1/js/plugins/chartist.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'admin1/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'admin1/js/material-dashboard.js' %}"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static 'admin1/demo/demo.js' %}"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script src="text/javascript"></script>
   <script>
        const labels = {{monthNumber|safe}};
      const data = {
        labels: labels,
        datasets: [{
          label: 'Orders By Month',
          backgroundColor: 'rgb(45, 9, 131)',
          borderColor: 'rgb(255, 99, 132)',
          data: {{totalOrders | safe}},
        }]
      };
      const config = {
      type: 'bar',
      data: data,
      options: {}
      };
      var myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
   </script>
    


  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>
</body>

</html>